https://raw.githubusercontent.com/xenocard/CheatsHunter/Archive/{TID}/cheats/{BID}.txt
https://github.com/tomvita/MyNXCheats/releases/download/{TID}/{BID}.txt
https://raw.githubusercontent.com/tomvita/MyNXCheats/main/cheats/{TID}/{BID}.txt
https://raw.githubusercontent.com/ibnux/switch-cheat/master/atmosphere/titles/{TID}/cheats/{BID}.txt
https://raw.githubusercontent.com/Arch9SK7/MyNXCheats/main/{TITLE}/{TID}/cheats/{BID}.txt
https://raw.githubusercontent.com/ibnux/switch-cheat/master/atmosphere/titles/{TID}/cheats/{bid_lowercase}.txt
https://raw.githubusercontent.com/ChanseyIsTheBest/NX-60FPS-RES-GFX-Cheats/main/titles/{TID}/cheats/{bid}.txt
https://raw.githubusercontent.com/ChanseyIsTheBest/NX-60FPS-RES-GFX-Cheats/main/titles/{TID}/cheats/{BID}.txt
https://raw.githubusercontent.com/M1CR0H4CK3R/MaqNXCheats/main/contents/{TID}/cheats/{BID}.txt
https://raw.githubusercontent.com/tomvita/MyNXCheats/main/cheats/METRO_QUESTER/{TID}/{BID}.txt